<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">mnemosyne</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Login</a></li>
        <li class="active"><a ui-sref="signup">Signup</a></li>
        <li><a href="#">No</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <legend>회원가입</legend>
      <form accept-charset="utf8" ng-submit="signup()">
        <div class="form-group">
          <label for="signupInputEmail">이메일</label>
          <input ng-model="signupdata.email" type="email" class="form-control" id="signupInputEmail" placeholder="이메일">
        </div>
        <div class="form-group">
          <label for="signupInputPassword">비밀번호</label>
          <input ng-model="signupdata.password" type="password" class="form-control" id="signupInputPassword" placeholder="비밀번호">
        </div>
        <div class="form-group">
          <label for="signupInputConfirmation">비밀번호 확인</label>
          <input ng-model="signupdata.confirmation" type="password" class="form-control" id="signupInputConfirmation" placeholder="비밀번호">
        </div>
        <div class="form-group">
          <label for="signupInputNickname">닉네임</label>
          <input ng-model="signupdata.nickname" type="text" class="form-control" id="signupInputNickname" placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-default">회원가입</button>
      </form>
    </div>
  </div>
</div>